{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card container-fluid indexCard">
<div class="row">
    <div class="col-sm-12 col-md-4">
        <img class="img1" src="{{ MEDIA_URL }}IMG_0739.jpg" alt="danielle-headshot">
    </div>
  <div class="row card-body col-sm-12 col-md-8">
    Hello! <br> I’m Danielle, I’m a personal trainer and You&i Fitness is my business! <br> 
    You&i Fitness all started 8 years ago when I made the decision to make my passion and my 
    hobby into my dream job! I came up with the name You&i
    Fitness because it’s a journey that myself and the client are on together. 
    I hold my sessions in a private 1-1 studio & it is just “you and I”. Fitness is something 
    I am extremely passionate about and having a healthy lifestyle is something I promote everyday! <br>
    I became a personal trainer because I couldn’t think of anything more rewarding
    than helping clients reach there goals, but not only that, helping them become the best
     version of them self that they can be!<br> I hope you enjoy the website and remember - 
     <br> <i>Stop Wishing. Start Doing!</i>
  </div>
  </div>
</div>


{% endblock %}