{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
{% for users in user %}
            <div class="loggedInText container">Logged in as {{ users.user }}</div>

            <a href="{% url 'account_logout' %}"><div class="loggedInText container">Logout</div></a>
{% endfor %}
{% endif %}

{% for users in user %}
<h1 class='text-center profile'> Welcome to You&i, {{ users.user }}! </h1>
<h4 class="text-center profile-text"> Congratulations on making the decision to make a positive change to your life!<br>
I can't wait to be with you on this journey and help you achieve your goals! </h3>
<p class="text-center profile-text"> This is your persoanlized page! <br> 
You will find all your workouts here, and you will able to upload your progression pictures and measurements!<br>

<div class="row">
    
    <div class="col-sm col-md-4 ProfileImg"><i class="fas fa-dumbbell"></i>
    <a href="{% url 'workouts_page' %}">
        <p class="profileLinkText">Workouts</p>
    </a>
    </div>
    <div class="col-sm col-md-4 ProfileImg"><i class="fas fa-camera"></i>
    <a href="{% url 'progression_pictures' %}">
        <p class="profileLinkText">Progression Pictures</p>
    </a>
    </div>
    <div class="col-sm col-md-4 ProfileImg"><i class="fas fa-sticky-note"></i>
    <a href="">
        <p class="profileLinkText">Comments</p>
    </a>
    </div>
    
</div> 

</div>  

{% endfor %}

{% endblock %}