{% extends 'base.html' %}

{% block content %}

{% for users in user %}
<h1 class='text-center profile'> {{ users.user }}'s Workouts </h1>
{% endfor %}

<div class="homeButton"><a href="{% url 'profile' %}"> <i class="fas fa-home"></i></a></div>

<div class="row">
{% for W in workout %}

<div class="col-sm col-md-6 col-lg-4">
    <div class="card ProductsCard" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-text">Week: {{ W.weeks }}</h2>
            <hr>
            <h4 class="card-text">Workout: {{ W.body_part }}</h4>
            <hr>
            <h5 class="card-text">Gym or Home: {{ W.gym_or_home }}</h5>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise1 }}</p>
            <p class="card-text">Sets: {{ W.sets1 }}</p>
            <p class="card-text">Reps: {{ W.reps1 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise2 }}</p>
            <p class="card-text">Sets: {{ W.sets2 }}</p>
            <p class="card-text">Reps: {{ W.reps2 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise3 }}</p>
            <p class="card-text">Sets: {{ W.sets3 }}</p>
            <p class="card-text">Reps: {{ W.reps3 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise4 }}</p>
            <p class="card-text">Sets: {{ W.sets4 }}</p>
            <p class="card-text">Reps: {{ W.reps4 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise5 }}</p>
            <p class="card-text">Sets: {{ W.sets5 }}</p>
            <p class="card-text">Reps: {{ W.reps5 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise6 }}</p>
            <p class="card-text">Sets: {{ W.sets6 }}</p>
            <p class="card-text">Reps: {{ W.reps6 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise7 }}</p>
            <p class="card-text">Sets: {{ W.sets7 }}</p>
            <p class="card-text">Reps: {{ W.reps7 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise8 }}</p>
            <p class="card-text">Sets: {{ W.sets8 }}</p>
            <p class="card-text">Reps: {{ W.reps8 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise9 }}</p>
            <p class="card-text">Sets: {{ W.sets9 }}</p>
            <p class="card-text">Reps: {{ W.reps9 }}</p>
            <hr>
            <p class="card-text">Exercise: {{ W.exercise10 }}</p>
            <p class="card-text">Sets: {{ W.sets10 }}</p>
            <p class="card-text">Reps: {{ W.reps10 }}</p>
            <hr>

            

        </div>
    </div>
</div>

{% endfor %}
</div>




<!-- Button trigger modal -->
<div class="row container-fluid">
<button type="button" class="btn btn-primary modalButton" data-toggle="modal" data-target="#exampleModal">
{% for users in user %}
  Upload New Workout for {{ users.user }}
{% endfor %}
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Workout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if request.user.is_superuser %}
<div class="row container-fluid m-auto">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Upload</button>
    </form>
</div>
{% endif %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javacript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
{% endblock %}