{% extends 'base.html' %}
{%  load static %}

{% block content %}

<h1 class="headerAll text-center">Merchandise</h1>

<div class="row">
{% for product in products %}
<div class="col-sm col-md-6 col-lg-4">
    <div class="card ProductsCard" style="width: 18rem;">
        <img class="card-img-top ProductImg" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">£{{ product.price }}</p>

            <p class="card-text">Quantity:</p>
            <div class="row container-fluid">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-black rounded-0" 
                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                        <span class="icon">
                            <i class="fas fa-minus"></i>
                        </span>
                </button>
            </div>
            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                    data-item_id="{{ product.id }}"
                    id="id_qty_{{ product.id }}">
                <div class="input-group-append">
                    <button class="increment-qty btn btn-black rounded-0"
                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                    </button>
                </div>
            </div>
            <a href="" id="addToCart">Add To cart</a>  
        </div>
    </div>
</div> 
{% endfor %}
</div>  


{% endblock %}